.nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 12px lighten(#1a1a1a, 80%);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 100000;
    background: #fff;

    .logo{
        height: 75%;
        width: auto;
        margin: 10px;
    }

    .nav-btn-container{
        width: 30px;
        height: 30px;
        // border: 2px solid red;
        .icon{
            padding: 2px;
            height: 100%;
            width: 100%;
            filter: drop-shadow(1px 1px 1px lighten(#1a1a1a, 50%));
        }

        .close.icon{
            animation: scale-up .5s;
        }

        .menu.icon{
            animation: scale-up .5s;
        }

        @keyframes scale-up{
            from{
                transform: scale(0) rotate(0deg);
            }
            
            to{
                transform: scale(1) rotate(360deg);
            }
        }

    }



    .links{
        background: $red;
        height: 90vh;
        width: 45%;
        position: absolute;
        bottom: -90vh;
        right: 0;
        transform: translateX(0);
        transition-property: height, width, opacity;
        transition: all .25s ease-out;
        filter: drop-shadow(2px 2px 5px lighten(#1a1a1a, 70%));
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 2.4rem 2rem;
            li{
                height: fit-content;
                padding-bottom: 2.4rem;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    font-weight:bold;
                    font-size:16px;
                }
                
            }
        }
    }

    .links.hide{

        transform: translateX(100%);
        transition-property:  transform opacity;
        transition: all .25s ease-in;
        // ul{
        //     display: none;
        // }
    }




}