.nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 12px lighten(#1a1a1a, 80%);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 100000;
    background: #fff;
    h3{

        font-family: "Manrope", 'Times New Roman', Times, serif;
        font-size: 1.8rem;
        font-weight: bold;
        color: $purple;
    }

    .icon{
        width: 22px;
        height: 22px;
        filter: drop-shadow(1px 1px 1px lighten(#1a1a1a, 50%));
    }



    .links{
        background: $red;
        height: 90vh;
        width: 45%;
        position: absolute;
        bottom: -90vh;
        // z-index: 1000000 !important;

        right: 0;
        transform: translateX(0);
        transition-property: height, width, opacity;
        transition: all .25s ease-out;
        filter: drop-shadow(2px 2px 5px lighten(#1a1a1a, 70%));
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 2rem;
            li{
                height: fit-content;
                padding-bottom: 2rem;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    font-weight:bold;
                    font-size:14px;
                }
                
            }
        }
    }

    .links.hide{

        transform: translateX(100%);
        transition-property:  transform opacity;
        transition: all .25s ease-in;
        // ul{
        //     display: none;
        // }
    }




}