.recipes{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    h3{
        width: 100%;
        padding-top: 1.4rem;
        font-family: "Raleway", "Lato", "Manrope", 'Times New Roman', Times, serif;
    }
    .recipe.container{
        padding-top: 1rem;
        width: 45%;
        border-radius: 8px;
        margin: 1rem 0;
        img{
            width: 100%;
            border-radius: 4px;
        }
        .recipe-name{
            font-family: "Raleway", "Lato", "Manrope", 'Times New Roman', Times, serif;
            font-size: 1rem;
            font-weight: bold;
            padding-top: .4rem;
        }
        .ingredients-missing{
            font-size: .8rem;
            
        }
        .actions{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-top: 1rem;
            button{
                width: 5.5rem;
                height: 2.4rem;
                border: none;
                color: #ffffff;
                font-weight: bold;
                border-radius: 8px;
                background: #8bf0ba;
                font-family: "Raleway", "Lato", "Manrope", 'Times New Roman', Times, serif;
                cursor: pointer;
                transition: background .25s ease-in;
                box-shadow: 0 0 10px lighten(#1a1a1a, 85%);
    
                &:hover{
    
                    background: lighten($purple, 10%);
                    transition: background .25s ease-in;
    
                }
            }
        }
    }
}